.venv/
__pycache__/
*.py[cod]

checkpoints/*
!checkpoints/README.md

maritime_input/*
!maritime_input/README.md
!maritime_input/longer_mask_clip/
maritime_input/longer_mask_clip/*
!maritime_input/longer_mask_clip/scene_input_003s_033s.mp4

maritime_output/*
!maritime_output/README.md

scripts/__pycache__/
datasets/__pycache__/
networks/__pycache__/
depth_anything_v2/**/__pycache__/

*.ply
*.mp4
*.avi
*.html
*.json
*.pyc

!assets/examples/*.mp4
!maritime_input/longer_mask_clip/scene_input_003s_033s.mp4
